<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snh.moudle_coupons">

    <application>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ui.activity.MyCouponsActivity"></activity>
        <activity android:name=".ui.activity.CreatCouponsActivity"
            android:windowSoftInputMode="adjustPan"
            ></activity>
        <activity android:name=".ui.activity.ProductActivity"></activity>
        <activity android:name=".ui.activity.AppointProductActivity"></activity>
        <activity android:name=".ui.activity.EditCouponsActivity"></activity>
        <activity android:name=".ui.activity.AvailableCouponsActivity"></activity>
    </application>

</manifest>